.button {
    font-family: "Space Grotesk";
    cursor: pointer;
    transition: background 0.25s;
    border: none;
    color: var(--text-color);
    border-radius: 12px;
}

.big {
    display: flex;
    width: 91.719px;
    height: 48px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--text-color);
    font-feature-settings: 'dlig' on;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.24px;
}

.middle {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    padding: 0px 16px;
}

.small {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.accent {
    background: var(--secondary-color);
}

.accent:hover {
    background: var(--primary-hover-color);
}