* {
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    height: 9vh;
    border-bottom: 1px solid white;
    align-items: center;
    justify-content: space-around;
    
}

.logo {
    display: flex;
    height: 50%;
    color: var(--text-color);
    font-feature-settings: 'dlig' on;
    font-family: var(--font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 22.5px; /* 125% */
    letter-spacing: -0.27px;
    gap: 13px;
}

.logo span {
    display: flex;
    align-items: center;
  
}


.profile_area {
    display: flex;
    gap: 15px;
}

.search_background {
    display: flex;
    background: url('../public/background_photo_large.png');
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    background-repeat: no-repeat;
    height: 480px;
    padding-left: 5%;
    align-items: center;
    color: var(--text-color);
    max-width: 950px;

}


.input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 16px;
    color: var(--text-color);
    outline: none;
}

.header_news {
    color: var(--text-color);
}

.main_text {
    display: flex;
    font-feature-settings: 'dlig' on;
    font-family: "Space Grotesk";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -1.584px;
}

.text {
    display: flex;
    font-feature-settings: 'dlig' on;
    font-family: "Space Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.01em;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: var(--main-color);
    width: 500px;
    height: 65px;
    margin-top: 4%;
}

.btn {
    margin-left: 6.5%;
    background-color: var(--primary-color);
}



.image {
    margin-left: 2%;
}

.featured_content {
    display: flex;
    color: var(--text-color);
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 4%;
    flex-direction: column;
}

.featured_content_main_text {
    font-feature-settings: 'dlig' on;
    font-family: var(--text-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 125% */
    letter-spacing: -1.188px;
}

.featured_content_secondary_text {
    margin-top: 1%;
    font-feature-settings: 'dlig' on;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.featured_content_see_all {
    margin-top: 1.25%;
    background-color: var(--primary-color);
}

.news {
    display: grid;
    margin-left: 15%;
    color: white;
    grid-column: 2/3;
}

.header_news {
    color: var(--text-color);
    font-feature-settings: 'dlig' on;
    font-family: var(--font);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.5px; /* 125% */
    letter-spacing: -0.33px;
    }

.news img {
    margin-top: 2%;
}

.news_card {
    display: grid;
    grid-template-columns: auto 1fr; /* Одна колонка для изображения, вторая для текста */
    grid-gap: 20px; /* Пространство между колонками */
    
}

.news_card_theme {
    display: flex;
    color: var(--text-secondary-color);
    font-feature-settings: 'dlig' on;
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    justify-content: flex-start;
}


.news_card_header {
    display: grid;
}

.news_text {
   display: grid;
   max-width: 500px;
}


